.password-generator
  background-color: #ffffff
  border-radius: 10px
  padding: 20px
  display: flex
  max-width: 450px
  margin: 0 auto
  flex-direction: column

  &__input
    padding: 10px
    font-size: 20px
    margin-bottom: 10px
    border: 1px solid #ccc
    border-radius: 10px

  &__controls
    display: flex
    flex-direction: column
    margin-top: 10px

  &__checkbox-group
    margin-bottom: 10px
    display: flex
    flex-direction: column

    &__input
        margin-bottom: 10px
        

  &__button
    width: 100%
    padding: 10px
    background-color: #009988
    color: #ffffff
    font-size: 20px
    cursor: pointer
    border: none
    border-radius: 10px
    text-align: center